.right-tab{
    display: flex;
    height: 100vh;
}

.right-tab-arrow{
    width: 30px;
    background: #fff;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-tab-content{
    width: 50vw;
    z-index: 90;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width: 480px){
    .right-tab-content{
        width: calc(100vw - 30px);
    }
}