@import url("https://fonts.googleapis.com/css?family=Sofia");

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);
    z-index: 1;
}

#main-content{
    height: 100%;
    width: 100%;
    opacity: 1;
    overflow-y: scroll;
    color: black;
    font-family: Arbutus Slab;
    background: transparent;
    line-height: 1.4;
    z-index: -1;
}

.top{
    width: 100%;
    height: 30%;
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: center;
}

.top>.greetings{
   text-align: center;
   font-size: 4em;
   font-family: Sofia;
}

.about-me{
    /*height: 70%;*/
    max-height: 100%;
    font-size: 1.5em;
    text-align: justify;
    padding: 20px;
}

.quote{
    display: block;
    text-align: center;
    font-style: italic;
    margin: 20px 0;
}

#main-content::-webkit-scrollbar {
    width: 4px;
    opacity: 0.5;             
}
#main-content::-webkit-scrollbar-track {
    opacity: 0.5;   
}
#main-content::-webkit-scrollbar-thumb {
  border-radius: 20px; 
  border: 3px solid cornflowerblue; 
}

@media only screen and (max-width: 480px){
    .about-me{
        font-size: 1em;
    }
    .top>.greetings{
        font-size: 2em;
    }
}